@model Asp_Mvc_2015_2016.ViewModels.UurRegistratieViewModel

@{
    ViewBag.Title = "Uren Registreren";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>UurRegistratie</legend>

        @Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Details", new { controller = "FactuurDetails", id = Model.UurRegistratie.FactuurDetailId })
</div>

