@using Asp_Mvc_2015_2016.Resources
@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @CultureResource.PasswordHasBeenReset @Html.ActionLink(CultureResource.LoginLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
