
@using Asp_Mvc_2015_2016.Resources
@using Asp_Mvc_2015_2016.Models
@using Asp_Mvc_2015_2016.ViewModels
@using System.Collections.Generic
@model IEnumerable<Departement>



<h4>@CultureResource.Departments</h4>

<div id="dep">
    <ul>
        
            @foreach (var dep in Model)
            {
                <li>
                    @dep.Code
                </li>
               <li>
                    @dep.Omschrijving
               </li>    
            }        
    </ul>
</div>
